@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,600);
@import url(fonts/fonts.css);

$highlight-color: #EB7500;
$link-color: white;

$container-large: 1200px;
$container-small: 415px; /* iPhone 6 Plus */

$header-float-proportion: 0.45;

$break-large: "only screen and (min-width: #{$container-large})";
$break-small: "only screen and (max-width: #{$container-small})";
$break-tiny: "only screen and (max-width: 350px)";
$mobile-landscape: "only screen and (max-width: 750px) and (orientation: landscape)";
$mobile-landscape-small: "only screen and (max-width: 650px) and (orientation: landscape)";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: black;
  color: white;
}

nav#greymatter {
  width: 100%;
  margin-top: 30px;
  position: absolute;

  @media #{$break-small} {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    flex-flow: row wrap;
  }

  ul {
    margin: 0 auto;
    font-size: .9rem;
    font-weight: 300;
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    letter-spacing: 1px;
    max-width: 1200px;
    flex-wrap: wrap;

    li {
      text-align: center;

      @media #{$break-small} {
        min-width: 25%;
        font-size: 0.8rem;
      }

      &.title {
        font-family: 'led', sans-serif;
        font-size: 1rem;
        line-height: 20px;
        font-size: 22px;

        @media #{$break-small} {
          order: -1;
          width: 100%;
          margin-bottom: 5px;
          text-align: center;
          font-size: inherit;

        }
      }
    }

    li a {

      padding: 4px 0px;
      text-decoration: none;
      color: $link-color;

      &.book {
        border-radius: 10px;
        padding: 4px 10px;
      }

      @media #{$break-small} {
        &.blog {
          span { display: none; }

          &:after {
            content: "News";
          }
        }
      }
    }
  }
}

.book {
  color: $link-color;
  text-decoration: none;
  background: $highlight-color;
  text-transform: uppercase;
  border-radius: 10px;

  &.big {
    font-size: 1rem;
    padding: 14px 50px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .5);

    @media #{$break-small} {
      font-size: 1rem;
    }

    @media #{$mobile-landscape} {
      font-size: 0.8rem;
    }
  }
}

.ratings {
  display: flex;
  width: 100%;
  justify-content: space-around;

  @media #{$break-small} {
    flex-direction: column;
  }

  .rating {
    text-align: center;
    span { font-size: 24px; }
    p { font-style: italic; }
  }
}

.container {
  margin: 0 auto;
  max-width: $container-large;
  background: rgb(30, 30, 30);
  color: #eee;

  &.flex { display: flex; }

  .box {
    padding: 40px;

    img {
      width: 50%;
      max-width: 400px;
      margin: 20px;
      &.left { float: left; margin-left: 0; }
      &.right { float: right; margin-right: 0; }

      &.full-width { max-width: none; width: 100%; margin: 0; margin-bottom: 20px; }

      @media #{$break-small} {
        width: 100%;
        float: none;
        margin: 20px 0 20px 0;
      }
    }
  }

  aside {

    order: 2;

    &.map {
      width: 700px;

      iframe {
        width: 100%;
        height: 300px;
        margin-top: 20px;
      }
    }
  }

  @media #{$break-small} {
    flex-flow: column;
    aside.map {
      order: -1;
      width: inherit;
      border-bottom: 3px solid #444;
    }
  }

  h1, h2, p {
    margin-bottom: 20px;
  }

  h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
  }

  blockquote {
    float: right;
    font-style: italic;
    font-size: 24px;
    max-width: 40%;
    border-left: 3px solid #ccc;
    padding: 10px 20px 10px 20px;
    background: rgba(100, 100, 100, 0.2);
    margin-left: 20px;

    footer {
      font-size: 16px;
      text-align: right;
    }
  }

  p.dates {
    margin-bottom: 5px;
    font-weight: 400;
  }

  a {
    color: #bbb;

    &.tickets {
      color: $highlight-color;
      text-decoration: none;
    }
  }

}

.container article {
  width: 100%;
  border-bottom: 3px solid #444;
  margin-bottom: 20px;
  width: 100%;

  &:last-child {
    border-bottom: 0;
  }

  .info {
    time {
      font-style: italic;
      margin-bottom: 20px;
      color: #aaa;

      a { text-decoration: none; }
    }
  }

  p { margin-top: 10px; }

  &.photo {
    img {
      width: 50%;
      float: left;
      max-width: none;
      margin-top: 0;
    }
  }

  &.photoset {


    .set {
      overflow-x: scroll;

      img { display: inline; float: none; }
    }
  }
}

iframe, .fluid-width-video-wrapper {
  margin-bottom: 20px;
}

ul.non-list {
  list-style: none;
}

section {
  width: 100%;
  &.bigbox {
    background: url(images/poster.jpg) no-repeat center -10vw;
    background-size: cover;
    height: 60vh;
    max-width: 1600px;
    max-height: 120vw;
    margin: 0 auto;

    @media #{$break-small} {
      background-position: center 0;
    }

    &.fullheight {
      height: 100vh;

      header {
        padding-top: $header-float-proportion * 100vw;

        @media #{$break-large} {
          padding-top: $header-float-proportion * $container-large;
        }

        @media #{$break-small} {
          padding-top: 30vh;
        }
      }

      @media #{$mobile-landscape} {

        height: 100vh;

        background: url(poster.jpg) no-repeat center -20vw;
        background-size: cover;

        header {
          padding-top: 50vh;
          font-size: 2.6rem;

          h2 {
            font-size: 1.2rem;
            margin-top: 8px;
            margin-bottom: -12px;
          }
        }
      }

      @media #{$mobile-landscape-small} {
        h1 { margin-bottom: -25px; }
        h2 { display: none; }
      }


    }
  }

  header {
    width: 100%;

    color: white;
    text-align: center;
    font-size: 4rem;
    padding-top: 40vw;

    h1 {
      text-shadow: 0px 0px 25px rgba(0, 0, 0, .5);
      font-family: 'led', sans-serif;
      margin-bottom: -20px;
    }

    h2 {
      font-size: 1.5rem;
      text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    }

    @media #{$break-small} {
      h1 {
        font-size: 2.5rem;
        margin-bottom: 0;
      }

      h2 {
        font-size: 1.2rem;
      }
    }
  }
}

footer.container {
  background: black;
  display: block;

  .contact {
    display: flex;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    margin-top: 40px;
    justify-content: space-around;

    a {
      img {
        width: 30px;
        height: 30px;

        @media #{$break-small} {
          width: 25px;
          height: 25px;
        }
      }

      &:first-child {
        width: auto;
        height: auto;
      }
    }

    p {
      margin: 0;
    }
  }

  p {
    text-align: center;
    width: 100%;
    margin: 10px auto;
    margin-bottom: 30px;
  }
}

/* Shitty way to deal with maps and not understanding flexbox */
#bigmap { display: none; }

@media #{$break-small} {
  #sidemap {
    display: none;
  }
  #bigmap {
    display: block;

    iframe { border-top: 3px solid #444; }
  }
}
