@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,600);
@import url(fonts/fonts.css);
/* iPhone 6 Plus */
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  background: black; }

nav {
  width: 100%;
  margin-top: 30px; }
  @media only screen and (max-width: 414px) {
    nav {
      width: 95vw;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5vw; } }
  nav ul {
    margin: 0 auto;
    font-size: .9rem;
    font-weight: 300;
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    letter-spacing: 1px;
    max-width: 1200px; }
    nav ul li {
      text-align: left; }
    nav ul li a {
      padding: 4px 0px;
      text-decoration: none;
      color: white; }
      nav ul li a.book {
        border-radius: 10px;
        padding: 4px 10px; }
      @media only screen and (max-width: 414px) {
        nav ul li a.blog span {
          display: none; }
        nav ul li a.blog:after {
          content: "Blog"; } }

.book {
  color: white;
  text-decoration: none;
  background: #eb7500;
  text-transform: uppercase;
  border-radius: 10px; }
  .book.big {
    font-size: 1.3rem;
    padding: 10px 40px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5); }
    @media only screen and (max-width: 414px) {
      .book.big {
        font-size: 1rem; } }
    @media only screen and (max-width: 750px) and (orientation: landscape) {
      .book.big {
        font-size: 0.8rem; } }

section {
  width: 100%; }
  section.bigbox {
    background: url(poster.jpg) no-repeat center -10vw;
    background-size: cover;
    height: 60vh;
    max-width: 1600px;
    margin: 0 auto; }
    section.bigbox.fullheight {
      height: 100vh; }
      section.bigbox.fullheight header {
        padding-top: 35vw; }
        @media only screen and (min-width: 1600px) {
          section.bigbox.fullheight header {
            padding-top: 560px; } }
        @media only screen and (max-width: 414px) {
          section.bigbox.fullheight header {
            padding-top: 30vh; } }
      @media only screen and (max-width: 750px) and (orientation: landscape) {
        section.bigbox.fullheight {
          height: 100vh;
          background: url(poster.jpg) no-repeat center -20vw;
          background-size: cover; }
          section.bigbox.fullheight header {
            padding-top: 50vh;
            font-size: 2.6rem; }
            section.bigbox.fullheight header h2 {
              font-size: 1.2rem;
              margin-top: 8px;
              margin-bottom: -12px; } }
      @media only screen and (max-width: 650px) and (orientation: landscape) {
        section.bigbox.fullheight h1 {
          margin-bottom: -25px; }
        section.bigbox.fullheight h2 {
          display: none; } }
  section header {
    width: 100%;
    color: white;
    text-align: center;
    font-size: 4rem;
    padding-top: 40vw; }
    section header h1 {
      text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
      font-family: 'ledlightregular', sans-serif;
      margin-bottom: -20px; }
    section header h2 {
      font-size: 1.5rem;
      text-shadow: 0px 0px 15px black; }
    @media only screen and (max-width: 414px) {
      section header h1 {
        font-size: 2.5rem;
        margin-bottom: 0; }
      section header h2 {
        font-size: 1.2rem; } }
