@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,600);
@import url(fonts/fonts.css);

$highlight-color: #EB7500;
$link-color: white;

$container-large: 1200px;
$container-small: 414px; /* iPhone 6 Plus */

$header-float-proportion: 0.45;

$break-large: "only screen and (min-width: #{$container-large})";
$break-small: "only screen and (max-width: #{$container-small})";
$mobile-landscape: "only screen and (max-width: 750px) and (orientation: landscape)";
$mobile-landscape-small: "only screen and (max-width: 650px) and (orientation: landscape)";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: black;
  color: white;
}

nav {
  width: 100%;
  margin-top: 30px;

  @media #{$break-small} {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
  }



  ul {
    margin: 0 auto;
    font-size: .9rem;
    font-weight: 300;
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    letter-spacing: 1px;
    max-width: 1200px;

    li {
      text-align: left;
    }

    li a {

      padding: 4px 0px;
      text-decoration: none;
      color: $link-color;

      &.book {
        border-radius: 10px;
        padding: 4px 10px;
      }

      @media #{$break-small} {
        &.blog {
          span { display: none; }

          &:after {
            content: "Blog";
          }
        }
      }
    }
  }
}

.book {
  color: $link-color;
  text-decoration: none;
  background: $highlight-color;
  text-transform: uppercase;
  border-radius: 10px;

  &.big {
    font-size: 1.3rem;
    padding: 10px 40px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .5);

    @media #{$break-small} {
      font-size: 1rem;
    }

    @media #{$mobile-landscape} {
      font-size: 0.8rem;
    }
  }
}

.container {
  margin: 0 auto;
  max-width: $container-large;
  padding: 20px;
}

section {
  width: 100%;
  &.bigbox {
    background: url(poster.jpg) no-repeat center -10vw;
    background-size: cover;
    height: 60vh;
    max-width: 1600px;
    margin: 0 auto;

    &.fullheight {
      height: 100vh;

      header {
        padding-top: $header-float-proportion * 100vw;

        @media #{$break-large} {
          padding-top: $header-float-proportion * $container-large;
        }

        @media #{$break-small} {
          padding-top: 30vh;
        }
      }

      @media #{$mobile-landscape} {

        height: 100vh;

        background: url(poster.jpg) no-repeat center -20vw;
        background-size: cover;

        header {
          padding-top: 50vh;
          font-size: 2.6rem;

          h2 {
            font-size: 1.2rem;
            margin-top: 8px;
            margin-bottom: -12px;
          }
        }
      }

      @media #{$mobile-landscape-small} {
        h1 { margin-bottom: -25px; }
        h2 { display: none; }
      }
    }
  }

  header {
    width: 100%;

    color: white;
    text-align: center;
    font-size: 4rem;
    padding-top: 40vw;

    h1 {
      text-shadow: 0px 0px 25px rgba(0, 0, 0, .5);
      font-family: 'ledlightregular', sans-serif;
      margin-bottom: -20px;
    }

    h2 {
      font-size: 1.5rem;
      text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
    }

    @media #{$break-small} {
      h1 {
        font-size: 2.5rem;
        margin-bottom: 0;
      }

      h2 {
        font-size: 1.2rem;
      }
    }
  }
}
